<app-navigation></app-navigation>
<style>
    .bgm{background-image:url('https://static.vecteezy.com/system/resources/previews/008/169/402/non_2x/abstract-shapes-and-line-in-nude-pastel-colors-neutral-background-in-minimalist-style-contemporary-illustration-free-vector.jpg') ;}
</style>
<div class="bgm" style="height:900px;background-position:center;background-repeat: no-repeat;background-size: cover;border: 3px;">
  <div class="container">
    <div class="row g-3 mT-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Employee Id</th>
                <th scope="col">Date</th>
                <th scope="col">Entry Date Time</th>
                <th scope="col">Exit Date Time</th>
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of data">
                <td>{{i.empId}}</td>
                <td>{{i.date}}</td>
                <td>{{i.entryDateTime}}</td>
                <td>{{i.exitDateTime}}</td>
               
              </tr>
            </tbody>
          </table>
            

        </div>
    </div>
</div>
