<app-navigation></app-navigation>
<style>
    .bgm{background-image:url('https://cdn.dribbble.com/users/1583884/screenshots/17868785/rm281-adj-067_4x.jpg') ;}
</style>
<div class="bgm" style="height:900px;background-position:center;background-repeat: no-repeat;background-size: cover;border: 3px;">
    <div class="container">
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    
                    <div class="card">

                        <div class="card-body">
                        <img height="250px" src="https://media.istockphoto.com/id/1305665241/vector/anonymous-gender-neutral-face-avatar-incognito-head-silhouette-stock-illustration.jpg?s=612x612&w=0&k=20&c=qA6GUTalFyrBCRVUzQgp2B5zODxmOA4NXTBcw9notYY=" class="card-img-top " alt="..." >
                          <h5 class="card-title">Name:{{data[0].name}}</h5>
                          <p class="card-text">Designation:{{data[0].designation}}</p>
                          <p class="card-text">Email Id:{{data[0].emailId}}</p>
                          <p class="card-text">Mobile:{{data[0].mobile}}</p>
                        
                        </div>
                      </div>


                </div>
            </div>
         </div>
    </div>

                    
                    