<app-security-navigation></app-security-navigation>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <h1>Security View Profile</h1>
                </div> 

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">


                    <div class="card" style="width: 18rem;">
                        <img src="https://png.pngtree.com/png-vector/20190623/ourlarge/pngtree-personalpersonalizationprofileuser-abstract-flat-color-ico-png-image_1491346.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                                <h5 class="card-title">Name:{{Data[0].name}}</h5>
                                <p class="card-text">Username:{{Data[0].username}}</p>
                        </div>
                      </div>


                </div>
            </div>
         </div>
    </div>
</div>
