<nav class="navbar navbar-expand-lg bg-success navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Security</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/securityProfileView">View profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/employeeLog">Employee log</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/viewEmployeeLog">View employee log</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/employeeDailyLog">View daily employee log</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/visitorLog">Visitor log</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/viewVisitorLog">View visitor log</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/visitorDailyLog">View daily visitor log</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/securityLogin">Logout</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>